*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #333;
    font-family: Arial, sans-serif ;
}
#header{
    text-align: center;
    color: #fff;
    font-size: 2em;
    margin-top: 20px;
    background: linear-gradient(to top,#0cbdb4,transparent);
}
.container{
    width: 400px;
    height: 400px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 50px auto;
    padding: 20px;
}
button{
    width: 100%;
    height: 60px;
    background-color: #444;
    color: #fff;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #555;
    scale: 1.13;
    border-radius: 0.8rem;
}
input{
    width: 100%;
    height: 60px;
    background-color: #111;
    color: #fff;
    font-size: 2em;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin: 15px 0px;
    
}
input:focus{
    outline: none;
    scale: 1.05;
    border-radius: 0.8rem;
    background-color: #111;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
#clear{
    background-color: #e74c3c;
}
.key-opersinon{
    background-color: #f39c12;
    font-size: 1.9rem;
}
.key-opersinon:hover{
    background-color: #e67e22;
    scale: 1.13;
    border-radius: 0.8rem;
}
.footer{
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 1.2em;
}
a{
    color: #1abc9c;
    text-decoration: none;
}